*,*::before,*::after {
    font-family:'Montserrat', sans-serif;
    font-size:1.25rem;
    margin:0px;
    padding:0px;
}
:root{
    --footer-height:36px;
    --breakpoint-width:640;
}
/* make same width for media query as --breakpoint-width */
body{
    background-color:#FF8C00;
    display: flex;
  flex-direction: column;
  overflow-y: hidden;
  box-sizing:border-box;
  position: relative;
  overflow-x: hidden;
  background-size:cover;
  background-position:center;
}
.start-app {
    z-index:10;
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;

}
.start-app button{
    width:70%;
    max-width:360px;
    padding:18px;
    font-size:1.25rem;
    border:none;
    color:yellow;
    font-family:"sofia",sans-serif;
    background-color:rgb(57, 57, 214);
    border-radius:64px;
    box-shadow:0px 10px rgb(233, 233, 233);
    outline:none;
    cursor:pointer;
}
.start-app button:hover{
    box-shadow:0px 10px rgb(71, 67, 67);
}
.start-app button:active,
.start-app button:focus{
    background-color:rgb(57, 57, 214,0.5);
    transform:translateY(5px);
    box-shadow:0px 5px rgb(71, 67, 67);
    outline:none;
}
.header,footer,main{
    overflow: hidden;
    opacity:0;
}
.header{
    width:100%;
    --parent-height:48px;
    height:var(--parent-height);
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:#fff;
    z-index:1;
    box-shadow:0px 4px 4px #000;
    position:relative;
}
.site-title{
    font-size:1rem;
    margin:0px 8px;
    font-family:"sofia",sans-serif;
}
.header ul{
    display:flex;
    list-style:none;
    margin-right:8px;
    margin-left:0px;
    position: fixed;
    left:0;
    background-color:#fff;
    width:100%;
    height:var(--parent-height);
    align-items: center;
    box-shadow:0px 4px 4px #000;
}
/* If top pos is changed from default value give in '.make-headerlist-up',the changeds has to made on both '.make-headerlist-up'
  and '.make-headerlist-down' */
.header ul li{
    font-size:0.75rem;
    margin-right:8px;
    font-weight:600;
    cursor:pointer;
    
}
.header li span{
    font-size:0.75rem;
    margin:0px 8px;
    font-weight:600;
}
.header ul li:active{
    background-color:yellow;
    color:blue;
}
.header li .search-word-container{
    display:flex;
    position:fixed;
    /* top:48px; */
    height:auto;
    flex-direction: column;
    background-color:white;
    width:100vw;
    margin-top:13px;
    left:0px;
    margin-left:0px;
    border-top:2px solid #d1d1d1;
    transition: transform 0.8s cubic-bezier(.06,-0.16,0,2.11),opacity 0.5s ease-in-out;
}

.header li .search-word-container li{
    border-bottom:1px solid black;
    padding:16px 0px;
    width:100%;
    margin-left:0px;
    margin-right:0px;
    text-align:center;
    font-size:1rem;
    font-weight:400;
    font-family:"sofia",sans-serif;
    color:#000;
    background-color:#fff;

}
/* .header li .search-word-container li:active{
    color:#000;
    background-color:#fff;
} */
.header li .search-word-container li:last-child{
    border-bottom:0px;
}
.header .nav-bar{
    width:36px;
    cursor:pointer;
    margin:0px 12px;
    margin-left:auto;
    padding:0px;
    display: flex;
    height:100%;
    justify-content: center;
    align-items:center;
    opacity: 1;
    transform:translateX(0px);
    transition: opacity 0.5s ease-in-out,transform 0.3s ease-in-out;
}
.header .nav-bar span{
    display:inline-block;
    width:100%;
    border-bottom:4px solid black;
    position:relative;
    transition: transform 0.6s cubic-bezier(.42,0,0,6.13);
    
    
}
.header .nav-bar span::before{
    content:" ";
    position:absolute;
    margin:0px;
    border:none;
    border-top:4px solid black;
    bottom:6px;
    width:100%;
    left:0;
    cursor:pointer;
    
}

.header  .nav-bar span::after{
    content:" ";
    position:absolute;
    margin:0px;
    border:none;
    border-bottom:4px solid black;
    top:10px;
    width:100%;
    left:0;
    cursor:pointer;
 
    
} 
.header .nav-bar .rotated-span{
    transform: rotate(45deg);
}

.header .nav-bar .rotated-span::before{
    transform: rotate(90deg);
    bottom:-4px;
}
.header .nav-bar .rotated-span::after {
    transform: rotate(0deg);
    top:0px;
}

@media screen and (min-width:640px){ 
    .header{
        height:48px;
    }
    .header .nav-bar {
        opacity: 0;
        transform:translateX(100px);
    }
     .header li .search-word-container{
        width:440px;
        margin-top:0px;
        top:33px;
        transform:translateX(0%);
    }
    .header .recent-search{
        transition:transform 0.75s ease-in-out;
    }
}
.search-input{
    display: flex;
    justify-content: center;
    margin-top:8px;
}
.search-input form{
    width:100%;
}
.search-input input[type='text']{
  width:75%;
  max-width:640px;
  display: flex;
  margin:0px auto;
  height:64px;
  font-family:"sofia",sans-serif;
  text-align:center;


}
.search-input input[type='text']:focus{
    border:2px solid black;
    background-color:#fff;
    outline:none;
}
.search-input input[type='text']:active{
    border:2px solid #000;
    background-color:#fff;
    outline:none;
}
.search-res{
    display: flex;
    justify-content:center;
    font-size:0.875rem;
    overflow-y: hidden;
    
}
.search-res ul{
    background-color:rgba(0,0,0,0.6);
    list-style:none;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    overflow:auto;
    max-height:100%;
    margin-top:-2px;  
    transition:height 0.5s cubic-bezier(.42,0,0,2);  
}
.search-res li{
    width:93%;
    max-width:560px;
    padding:20px 0px;
    background-color: #fff;
    margin:2px 4px;
    font-size:0.5625rem;
    display: flex;
    font-weight:600;
    justify-content:center;
    align-items: center;
      
}
.search-res li:nth-child(even){
    transform:perspective(100px) translateY(2px) rotateX(3deg) ;
}
.search-res li:nth-child(odd){
    transform:perspective(100px) translateY(3px) rotateX(-3deg);

}

.search-res li:first-child{
    margin-top:-1px;
    border-top:0px;
}
.search-res li span{
    font-size:0.5625rem;
    font-weight:600;
    display: flex;
}
.search-res li>span{
    margin:0px 3px;
}
.search-res li>span:first-child{
 margin-left:4px;
 margin-right:auto;
 padding-left:0px;
}
.search-res li>span:last-child{
    margin-left:auto;
    margin-right:4px;
    padding-right:0px;
   }
@media screen and (min-width:640px){
    .search-res li,.search-res li span{
        font-size:0.875rem;
        font-weight:400;
    }
}
@media screen and (orientation:landscape){
    .search-input{
        margin-top:8px;
    }
}
footer{
    position: relative;
}
footer div:first-child{
 width:100%;
background-color: white;
 display: flex;
 justify-content: center;
 align-items: center;
}
footer .show-hide-about{
    height:var(--footer-height);
    max-width: 48px;
    cursor: pointer;
}

.show-hide-about span{
    display: block;
    width:24px;
    border-bottom:2px solid #000;
    position: relative;
    cursor: pointer;
   
}
.show-hide-about span::after{
    content:" ";
    width:24px;
    top:4px;
    left:0px;
    position:absolute;
    border-bottom:2px solid #000;
    transition: top 0.3s ease-in-out;
}
.show-hide-about span::before{
    content:" ";
    width:24px;
    top:-4px;
    left:0px;
    position:absolute;
    border-bottom:2px solid #000;
    transition: top 0.3s ease-in-out;
}

.show-hide-about:hover span,
.show-hide-about:hover span::after,
.show-hide-about:hover span::before,
.show-hide-about span:hover ,
.show-hide-about span:hover::after,
.show-hide-about span:hover::before{
    border-color:aqua;
}
.show-hide-about:focus,
.show-hide-about:focus span,
.show-hide-about span:focus{
    background-color: transparent;
}
.show-hide-about .spaced-span::after{
    top:8px;
}
.show-hide-about .spaced-span::before{
    top:-8px;
}
.about-webapp{
    background-color: rgba(0,0,0,0.8);
}
.about-webapp p{
    font-size:0.9375rem;
    line-height: 1.3;
    font-weight:400;
    color:#fff;
    font-family:'Sofia',sans-serif ;
    /* position:absolute; */
    transition:opacity 0.8 ease-in-out

}
@media screen and (min-width:720px){
    .about-webapp p{
        font-size:1.125rem;
    }
}
::-moz-focus-inner{
    border:none;
}
.above-element{
    z-index:1;
}
.below-element{
    z-index:-1;
}
.start-app-transition{
transition:opacity 1s ease-in-out;
}
.make-visible{
    opacity: 1;
}
.make-invisible{
    opacity:0;
}
.translate-left{
    transform:translateX(-100%);
}
.translate-right{
    transform:translateX(100%);
}
.translate-center{
    transform:translateX(0%);
}
.headerlist-trans1{
    transition:top 0.5s cubic-bezier(0,0,0,3.16),opacity 0.2s ease-in;
}
.headerlist-trans2{
    transition:opacity 0.2s ease-in-out,top 0.4s ease-in-out;
}
.word-container-trans1{
    transition:opacity 2s ease-in-out;
}
.word-container-trans2{
    transition:opacity 0.2s ease-in-out;
}

.make-header-content-center{
    justify-content:center;
}
.make-header-content-between{
    justify-content:space-between;
}
.move-headerlist-down{
    top:48px; 
}
.move-headerlist-up{
    top:0px;
}
/* fixed by user need to find a way to add dynamically*/ 

.move-headerlist-left{
    left:0;
}
.move-headerlist-right{
    left:100vw;
}
.add-new-marginleft{
    margin-left:auto;
}

.default-marginleft{
    margin-left:0px;
}